[Unit]
Description=Hausserver Flask Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/hausserver
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/hausserver/.venv/bin/python /home/pi/hausserver/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
